#Home, #Group{
  display:none;
}

#Home{
  color:white;
  background-color:rgba(0,0,0,0.8);
  padding:10px;
}

#Group{
  margin-top:50px;
}

ul{
    list-style: none;
}

.checked{
 text-decoration: line-through;
}

.each-group{
  float:left;
  width: 30%;
  margin-left: 3%;
}

.each-group h1{
  color:gray;
}
