*{
  font-family:Arial, Helvetica, sans-serif;
}

#Home, #Group{
  display:none;
}

#Home{
  color:white;
  background-color:#3A97DF;
  padding:10px;
}

#Group{
  margin-top:50px;
}

ul{
    list-style: none;
}

.checked{
 text-decoration: line-through;
}

.each-group{
  float:left;
  width: 30%;
  margin-left: 3%;
}

.each-group h1{
  color:#3A97DF;
}
